.userThumb {
    display:flex;
    align-items: center;
    margin-bottom: 10px;
    &__img {
        width: 3em;
        height: 3sem;
        margin-right: 10px;
    }
    &__text {
        font-size: $small-font;
        font-style: italic;
    }
}