$color-primary:#048BA8;
$color-secondary: #05B4DA;
$color-white: #ffffff;
$color-black: #000000;
$xxlg-font:5em;
$xlg-font:3.5em;
$lg-font:2.5em;
$mid-font: 1.5em;
$sm-font: 1em;
$xsm-font: .7em;
$xxsm-font: .5em;

$box-shadow: rgba(0,0,0, .1);