.home {
    &__hero {
        height: 600px;
        position:relative;
        &__content{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            color:white;
            text-align: center;
            z-index: 3;
            &__text {
                font-size: $xlg-font;
                margin-bottom: 40px;
            }
        }
        &__bg {
            filter: blur(1px);
            -webkit-filter: blur(1px);
        }
    }

}